.signup-wrapper {
  max-width: 582px;
  width: 100%;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: 50px;
      line-height: 64px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      margin-bottom: 30px;
    }
    input.file{
      display: none;
    }
    label {
      font-family: Raleway;
      font-style: normal;
      font-size: 20px;
      line-height: 25px;
      font-weight: 500;
      background: #BC181E;
      padding: 10px 50px;
      color: #FFFFFF;
      margin-top: 20px;
      cursor: pointer;
    }
    input {
      width: 100%;
      height: 72px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #FBF6F0;
      outline: none;
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 60px;
      color: #FFFFFF;
    }
    button {
      margin-top: 30px;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      background: #BC181E;
      padding: 20px 50px;
      border: none;
      outline: none;
      cursor: pointer;
      border: 2px solid transparent;
      transition: border 0.3s ease, background 0.3s ease;
      &:hover {
        border: 2px solid #FFFFFF;
        background: transparent;
        color: #FFFFFF;
      }
    }
  }
}